In [1]:
people = {
    "first_name": ["Anthony", "John", "Joy"],
    "last_name": ["Nchore", "Doe", "Mendes"],
    "email": ["anthonynchore@gmail.com", "johndoe@gmail.com", "joymendes@gmail.com"]
}

In [2]:
import pandas as pd

In [5]:
df = pd.DataFrame(people)

In [6]:
df

  first_name last_name                    email
0    Anthony    Nchore  anthonynchore@gmail.com
1       John       Doe        johndoe@gmail.com
2        Joy    Mendes      joymendes@gmail.com

In [11]:
df['email']

0    anthonynchore@gmail.com
1          johndoe@gmail.com
2        joymendes@gmail.com
Name: email, dtype: object

In [12]:
df[['last_name', 'email']]

  last_name                    email
0    Nchore  anthonynchore@gmail.com
1       Doe        johndoe@gmail.com
2    Mendes      joymendes@gmail.com

In [13]:
df.iloc[0]

first_name                    Anthony
last_name                      Nchore
email         anthonynchore@gmail.com
Name: 0, dtype: object