In [1]:
import pandas as pd

In [2]:
import zipfile

with zipfile.ZipFile('/home/nchore/Downloads/stack-overflow-developer-survey-2023.zip') as z:
    
    with z.open('survey_results_public.csv') as f:
        df = pd.read_csv(f)

In [3]:
df

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 84 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ResponseId                           89184 non-null  int64
 1   Q120                                 89184 non-null  object
 2   MainBranch                           89184 non-null  object
 3   Age                                  89184 non-null  object
 4   Employment                           87898 non-null  object
 5   RemoteWork                           73810 non-null  object
 6   CodingActivities                     73764 non-null  object
 7   EdLevel                              87973 non-null  object
 8   LearnCode                            87663 non-null  object
 9   LearnCodeOnline                      70084 non-null  object
 10  LearnCodeCoursesCert                 37076 non-null  object
 11  YearsCode                            87435 non-null  object
 12  YearsCodePro                         66136 non-null  object
 13  DevType                              76872 non-null  object
 14  OrgSize                              65043 non-null  object
 15  PurchaseInfluence                    64964 non-null  object
 16  TechList                             60851 non-null  object
 17  BuyNewTool                           83009 non-null  object
 18  Country                              87973 non-null  object
 19  Currency                             65334 non-null  object
 20  CompTotal                            48225 non-null  float64
 21  LanguageHaveWorkedWith               87140 non-null  object
 22  LanguageWantToWorkWith               80709 non-null  object
 23  DatabaseHaveWorkedWith               73435 non-null  object
 24  DatabaseWantToWorkWith               60911 non-null  object
 25  PlatformHaveWorkedWith               63628 non-null  object
 26  PlatformWantToWorkWith               51308 non-null  object
 27  WebframeHaveWorkedWith               66938 non-null  object
 28  WebframeWantToWorkWith               56741 non-null  object
 29  MiscTechHaveWorkedWith               57019 non-null  object
 30  MiscTechWantToWorkWith               46848 non-null  object
 31  ToolsTechHaveWorkedWith              77884 non-null  object
 32  ToolsTechWantToWorkWith              68315 non-null  object
 33  NEWCollabToolsHaveWorkedWith         85864 non-null  object
 34  NEWCollabToolsWantToWorkWith         76649 non-null  object
 35  OpSysPersonal use                    86557 non-null  object
 36  OpSysProfessional use                78587 non-null  object
 37  OfficeStackAsyncHaveWorkedWith       69090 non-null  object
 38  OfficeStackAsyncWantToWorkWith       53743 non-null  object
 39  OfficeStackSyncHaveWorkedWith        83439 non-null  object
 40  OfficeStackSyncWantToWorkWith        69776 non-null  object
 41  AISearchHaveWorkedWith               56328 non-null  object
 42  AISearchWantToWorkWith               46150 non-null  object
 43  AIDevHaveWorkedWith                  25904 non-null  object
 44  AIDevWantToWorkWith                  19587 non-null  object
 45  NEWSOSites                           87973 non-null  object
 46  SOVisitFreq                          87140 non-null  object
 47  SOAccount                            87852 non-null  object
 48  SOPartFreq                           66061 non-null  object
 49  SOComm                               87692 non-null  object
 50  SOAI                                 47858 non-null  object
 51  AISelect                             87973 non-null  object
 52  AISent                               61501 non-null  object
 53  AIAcc                                38594 non-null  object
 54  AIBen                                61396 non-null  object
 55  AIToolInterested in Using            32783 non-null  object
 56  AIToolCurrently Using                36137 non-null  object
 57  AIToolNot interested in Using        21069 non-null  object
 58  AINextVery different                 12661 non-null  object
 59  AINextNeither different nor similar  6599 non-null   object
 60  AINextSomewhat similar               6238 non-null   object
 61  AINextVery similar                   2621 non-null   object
 62  AINextSomewhat different             23303 non-null  object
 63  TBranch                              65768 non-null  object
 64  ICorPM                               43668 non-null  object
 65  WorkExp                              43579 non-null  float64
 66  Knowledge_1                          42535 non-null  object
 67  Knowledge_2                          41670 non-null  object
 68  Knowledge_3                          41798 non-null  object
 69  Knowledge_4                          41684 non-null  object
 70  Knowledge_5                          41527 non-null  object
 71  Knowledge_6                          41520 non-null  object
 72  Knowledge_7                          41467 non-null  object
 73  Knowledge_8                          41404 non-null  object
 74  Frequency_1                          41916 non-null  object
 75  Frequency_2                          41925 non-null  object
 76  Frequency_3                          41054 non-null  object
 77  TimeSearching                        42778 non-null  object
 78  TimeAnswering                        42629 non-null  object
 79  ProfessionalTech                     41783 non-null  object
 80  Industry                             36774 non-null  object
 81  SurveyLength                         86485 non-null  object
 82  SurveyEase                           86554 non-null  object
 83  ConvertedCompYearly                  48019 non-null  float64
dtypes: float64(3), int64(1), object(80)
memory usage: 57.2+ MB

In [5]:
pd.set_option('display.max_columns', 100)

In [6]:
with zipfile.ZipFile('/home/nchore/Downloads/stack-overflow-developer-survey-2023.zip') as z:
    
    with z.open('survey_results_schema.csv') as a:
        shema_df = pd.read_csv(a)

In [7]:
shema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
3,QID312,Q120,,True,MC,SAVR
4,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
...,...,...,...,...,...,...
73,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
74,QID289,Knowledge_8,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
75,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
76,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
77,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [8]:
shema_df.shape

(78, 6)

In [9]:
pd.set_option('display.max_columns', 6)

In [10]:
df.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
df.describe(include='all')

,ResponseId,Q120,MainBranch,...,SurveyLength,SurveyEase,ConvertedCompYearly
count,89184.000000,89184,89184,...,86485,86554,4.801900e+04
unique,NaN,1,6,...,3,3,NaN
top,NaN,I agree,I am a developer by profession,...,Appropriate in length,Easy,NaN
freq,NaN,89184,67237,...,65962,54092,NaN
mean,44592.500000,NaN,NaN,...,NaN,NaN,1.031101e+05
std,25745.347541,NaN,NaN,...,NaN,NaN,6.814188e+05
min,1.000000,NaN,NaN,...,NaN,NaN,1.000000e+00
25%,22296.750000,NaN,NaN,...,NaN,NaN,4.390700e+04
50%,44592.500000,NaN,NaN,...,NaN,NaN,7.496300e+04
75%,66888.250000,NaN,NaN,...,NaN,NaN,1.216410e+05
max,89184.000000,NaN,NaN,...,NaN,NaN,7.435143e+07

In [ ]:
df.isnull().sum()

ResponseId                                 0
Q120                                       0
MainBranch                                 0
Age                                        0
Employment                              1286
RemoteWork                             15374
CodingActivities                       15420
EdLevel                                 1211
LearnCode                               1521
LearnCodeOnline                        19100
LearnCodeCoursesCert                   52108
YearsCode                               1749
YearsCodePro                           23048
DevType                                12312
OrgSize                                24141
PurchaseInfluence                      24220
TechList                               28333
BuyNewTool                              6175
Country                                 1211
Currency                               23850
CompTotal                              40959
LanguageHaveWorkedWith                  2044
LanguageWantToWorkWith                  8475
DatabaseHaveWorkedWith                 15749
DatabaseWantToWorkWith                 28273
PlatformHaveWorkedWith                 25556
PlatformWantToWorkWith                 37876
WebframeHaveWorkedWith                 22246
WebframeWantToWorkWith                 32443
MiscTechHaveWorkedWith                 32165
MiscTechWantToWorkWith                 42336
ToolsTechHaveWorkedWith                11300
ToolsTechWantToWorkWith                20869
NEWCollabToolsHaveWorkedWith            3320
NEWCollabToolsWantToWorkWith           12535
OpSysPersonal use                       2627
OpSysProfessional use                  10597
OfficeStackAsyncHaveWorkedWith         20094
OfficeStackAsyncWantToWorkWith         35441
OfficeStackSyncHaveWorkedWith           5745
OfficeStackSyncWantToWorkWith          19408
AISearchHaveWorkedWith                 32856
AISearchWantToWorkWith                 43034
AIDevHaveWorkedWith                    63280
AIDevWantToWorkWith                    69597
NEWSOSites                              1211
SOVisitFreq                             2044
SOAccount                               1332
SOPartFreq                             23123
SOComm                                  1492
SOAI                                   41326
AISelect                                1211
AISent                                 27683
AIAcc                                  50590
AIBen                                  27788
AIToolInterested in Using              56401
AIToolCurrently Using                  53047
AIToolNot interested in Using          68115
AINextVery different                   76523
AINextNeither different nor similar    82585
AINextSomewhat similar                 82946
AINextVery similar                     86563
AINextSomewhat different               65881
TBranch                                23416
ICorPM                                 45516
WorkExp                                45605
Knowledge_1                            46649
Knowledge_2                            47514
Knowledge_3                            47386
Knowledge_4                            47500
Knowledge_5                            47657
Knowledge_6                            47664
Knowledge_7                            47717
Knowledge_8                            47780
Frequency_1                            47268
Frequency_2                            47259
Frequency_3                            48130
TimeSearching                          46406
TimeAnswering                          46555
ProfessionalTech                       47401
Industry                               52410
SurveyLength                            2699
SurveyEase                              2630
ConvertedCompYearly                    41165
dtype: int64

In [ ]:
anto = df.isnull().sum()
print(anto)

ResponseId                                 0
Q120                                       0
MainBranch                                 0
Age                                        0
Employment                              1286
RemoteWork                             15374
CodingActivities                       15420
EdLevel                                 1211
LearnCode                               1521
LearnCodeOnline                        19100
LearnCodeCoursesCert                   52108
YearsCode                               1749
YearsCodePro                           23048
DevType                                12312
OrgSize                                24141
PurchaseInfluence                      24220
TechList                               28333
BuyNewTool                              6175
Country                                 1211
Currency                               23850
CompTotal                              40959
LanguageHaveWorkedWith                  2044
LanguageWantToWorkWith                  8475
DatabaseHaveWorkedWith                 15749
DatabaseWantToWorkWith                 28273
PlatformHaveWorkedWith                 25556
PlatformWantToWorkWith                 37876
WebframeHaveWorkedWith                 22246
WebframeWantToWorkWith                 32443
MiscTechHaveWorkedWith                 32165
MiscTechWantToWorkWith                 42336
ToolsTechHaveWorkedWith                11300
ToolsTechWantToWorkWith                20869
NEWCollabToolsHaveWorkedWith            3320
NEWCollabToolsWantToWorkWith           12535
OpSysPersonal use                       2627
OpSysProfessional use                  10597
OfficeStackAsyncHaveWorkedWith         20094
OfficeStackAsyncWantToWorkWith         35441
OfficeStackSyncHaveWorkedWith           5745
OfficeStackSyncWantToWorkWith          19408
AISearchHaveWorkedWith                 32856
AISearchWantToWorkWith                 43034
AIDevHaveWorkedWith                    63280
AIDevWantToWorkWith                    69597
NEWSOSites                              1211
SOVisitFreq                             2044
SOAccount                               1332
SOPartFreq                             23123
SOComm                                  1492
SOAI                                   41326
AISelect                                1211
AISent                                 27683
AIAcc                                  50590
AIBen                                  27788
AIToolInterested in Using              56401
AIToolCurrently Using                  53047
AIToolNot interested in Using          68115
AINextVery different                   76523
AINextNeither different nor similar    82585
AINextSomewhat similar                 82946
AINextVery similar                     86563
AINextSomewhat different               65881
TBranch                                23416
ICorPM                                 45516
WorkExp                                45605
Knowledge_1                            46649
Knowledge_2                            47514
Knowledge_3                            47386
Knowledge_4                            47500
Knowledge_5                            47657
Knowledge_6                            47664
Knowledge_7                            47717
Knowledge_8                            47780
Frequency_1                            47268
Frequency_2                            47259
Frequency_3                            48130
TimeSearching                          46406
TimeAnswering                          46555
ProfessionalTech                       47401
Industry                               52410
SurveyLength                            2699
SurveyEase                              2630
ConvertedCompYearly                    41165
dtype: int64

In [ ]:
anto.head(10)

ResponseId              0
Q120                    0
MainBranch              0
Age                     0
Employment           1286
RemoteWork          15374
CodingActivities    15420
EdLevel              1211
LearnCode            1521
LearnCodeOnline     19100
dtype: int64

In [ ]:
anto.tail()

ProfessionalTech       47401
Industry               52410
SurveyLength            2699
SurveyEase              2630
ConvertedCompYearly    41165
dtype: int64

In [ ]:
anto.shape

(84,)

In [ ]:
df.columns

Index(['ResponseId', 'Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [ ]:
df['Employment'].value_counts()

Employment
Employed, full-time                                                                                                                                                                                             53748
Student, full-time                                                                                                                                                                                               7430
Independent contractor, freelancer, or self-employed                                                                                                                                                             7076
Employed, full-time;Independent contractor, freelancer, or self-employed                                                                                                                                         4354
Not employed, but looking for work                                                                                                                                                                               2553
                                                                                                                                                                                                                ...
Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Employed, part-time;Student, part-time;Not employed, and not looking for work        1
Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time;Student, part-time                                                                                                      1
Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time;Retired                                                                                                                 1
Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Not employed, and not looking for work                                                                  1
Employed, full-time;Not employed, but looking for work;Employed, part-time;Student, part-time                                                                                                                       1
Name: count, Length: 106, dtype: int64

In [ ]:
df.loc[0:5, 'Employment']

0                                                  NaN
1                                  Employed, full-time
2                                  Employed, full-time
3                                  Employed, full-time
4    Employed, full-time;Independent contractor, fr...
5                                  Employed, full-time
Name: Employment, dtype: object

In [ ]:
df.isnull

<bound method DataFrame.isnull of        ResponseId     Q120                      MainBranch  ...  \
0               1  I agree                   None of these  ...
1               2  I agree  I am a developer by profession  ...
2               3  I agree  I am a developer by profession  ...
3               4  I agree  I am a developer by profession  ...
4               5  I agree  I am a developer by profession  ...
...           ...      ...                             ...  ...
89179       89180  I agree  I am a developer by profession  ...
89180       89181  I agree  I am a developer by profession  ...
89181       89182  I agree     I code primarily as a hobby  ...
89182       89183  I agree  I am a developer by profession  ...
89183       89184  I agree  I am a developer by profession  ...

                SurveyLength                  SurveyEase ConvertedCompYearly
0                        NaN                         NaN                 NaN
1      Appropriate in length                        Easy            285000.0
2      Appropriate in length                        Easy            250000.0
3      Appropriate in length                        Easy            156000.0
4      Appropriate in length  Neither easy nor difficult             23456.0
...                      ...                         ...                 ...
89179               Too long  Neither easy nor difficult                 NaN
89180               Too long                        Easy                 NaN
89181               Too long  Neither easy nor difficult                 NaN
89182  Appropriate in length  Neither easy nor difficult                 NaN
89183  Appropriate in length                        Easy                 NaN

[89184 rows x 84 columns]>

In [ ]:
df

,ResponseId,Q120,MainBranch,...,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,...,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,...,Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,...,Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,...,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,...,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,...,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,...,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,...,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,...,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,...,Appropriate in length,Easy,NaN

In [ ]:
df.set_index('ResponseId', inplace=True)

In [ ]:
df

,Q120,MainBranch,Age,...,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,
1,I agree,None of these,18-24 years old,...,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,...,Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,...,Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,...,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,...,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...
89180,I agree,I am a developer by profession,25-34 years old,...,Too long,Neither easy nor difficult,NaN
89181,I agree,I am a developer by profession,18-24 years old,...,Too long,Easy,NaN
89182,I agree,I code primarily as a hobby,Prefer not to say,...,Too long,Neither easy nor difficult,NaN
89183,I agree,I am a developer by profession,Under 18 years old,...,Appropriate in length,Neither easy nor difficult,NaN
89184,I agree,I am a developer by profession,35-44 years old,...,Appropriate in length,Easy,NaN

In [ ]:
df.loc[5:10, 'MainBranch':'SurveyEase']

,MainBranch,Age,Employment,...,Industry,SurveyLength,SurveyEase
ResponseId,,,,,,,
5,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",...,Other,Appropriate in length,Neither easy nor difficult
6,I am a developer by profession,35-44 years old,"Employed, full-time",...,Other,Appropriate in length,Neither easy nor difficult
7,I am a developer by profession,35-44 years old,"Employed, full-time",...,"Information Services, IT, Software Development...",Appropriate in length,Easy
8,I am a developer by profession,25-34 years old,"Employed, full-time",...,Financial Services,NaN,NaN
9,"I am not primarily a developer, but I write co...",45-54 years old,"Employed, full-time",...,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,25-34 years old,"Not employed, but looking for work",...,NaN,Appropriate in length,Neither easy nor difficult

In [16]:
df.loc[[5,7], ['Age', 'SurveyEase']]

               Age                  SurveyEase
5  35-44 years old  Neither easy nor difficult
7  25-34 years old                         NaN